li, a, button {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 170px;
    height: 60px; 
}

.nav__links {
    list-style: none;
    margin-right: -100px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #FEDF2D
}

button {
    margin-right: -10px;
    padding: 13px 20px;
    background-color: #FEDF2D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}


li,a,button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 70px;
    margin-top: 30px;
}

.col-md-4 {
    width: calc(33.3333% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.card {
    width: 70%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Teks di Card Produk */
.card-title {
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #063667;
}

.card-text {
    font-family: Nunito Sans;
    font-size: 18px;
    color: #3e3e3e;
}

/* Tombol "Pesan" */
.btn-primary {
    padding: 10px 20px;
    background-color: #FEDF2D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #ffd54f;
    color: #000000;
}

.section-footer{
    margin-top: 120px;
    background-color: #063667;
    padding-bottom: 60px;
}

.container-grd4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.container-grd4 .box{
    position: relative;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.container-grd4 .box2{
    position: relative;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.container-grd4 .box3{
    position: relative;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.container-grd4 .box .bx{
    position: center;
    justify-content: center;
    height: 40px;
}

.container-grd4 .box h3{
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #FFFFFF;
    margin-top: auto; 
}

.container-grd4 .box2 h3{
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #FFFFFF;
    margin-top: auto; 
}

.container-grd4 .box3 h3{
    text-align: left;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #FFFFFF;
    margin-top: auto; 
}

.container-grd4 .box p{
    text-align: left;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 16px;
	color: #ffffff9a;
    margin-top: 10px; 
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list a {
    text-decoration: none;
    margin-left: -35px;
    color: #FFFFFF;
    font-size: 16px;
}

.footer-list a:hover {
    color: black;
}

.form_email{
	box-sizing : border-box;
	width: 70%;
	padding: 10px;
	font-size: 12pt;
	margin-bottom: 20px;
	font-family: Nunito Sans;
}

.button{
    background: #FEDF2D;
    padding: 11px 20px;
    text-decoration: none;
    color: #000000;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
}